<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="Bootstrapper" Version="1.0.0.0" Manufacturer="L.A.G." UpgradeCode="14ef0ec4-06ea-4958-adee-458dba0a21f7">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Version" Variable="Net4FullVersion" />
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Version" Variable="Net4x64FullVersion" Win64="yes" />

    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\Instance Names\SQL" Value="SQLEXPRESS" Variable="SqlExpressInstanceName" />
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\Instance Names\SQL" Value="SQLEXPRESS" Variable="SqlExpress64InstanceName" Win64="yes" />

    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\[SqlExpressInstanceName]\MSSQLServer\CurrentVersion" Value="CurrentVersion" Variable="SqlExpressVersion" />
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\[SqlExpress64InstanceName]\MSSQLServer\CurrentVersion" Value="CurrentVersion" Variable="SqlExpress64Version" />

    <Chain>
      <!--
      InstallCondition	
      * String	
      * A condition to evaluate before installing the package. 
      * The package will only be installed if the condition evaluates to true. 
      * If the condition evaluates to false and the bundle is being installed, repaired, or modified, the package will be uninstalled.
      
      DetectCondition	
      * String	
      * A condition that determines if the package is present on the target system. 
      * This condition can use built-in variables and variables returned by searches. 
      * This condition is necessary because Windows doesn't provide a method to detect the presence of an ExePackage. 
      * Burn uses this condition to determine how to treat this package during a bundle action; for example, 
      * if this condition is false or omitted and the bundle is being installed, Burn will install this package.
      -->

      <ExePackage
        Id="net461"
        Name="Microsoft .Net Framework 4.6.1"
        Cache="no"
        Compressed="yes"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        SourceFile="file\NDP461-KB3102436-x86-x64-AllOS-ENU.exe"
        DetectCondition="(Net4FullVersion > &quot;4.6&quot;) OR (Net4x64FullVersion > &quot;4.6&quot;)"
        InstallCondition="(NOT Net4FullVersion > &quot;4.6&quot;) AND (NOT Net4x64FullVersion > &quot;4.6&quot;)"
      />
      
      <RollbackBoundary />

      <ExePackage
        Id="sql2016"
        Name="Microsoft SQL Server 2016 Express"
        Cache="no"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        SourceFile="file\SQLEXPR_x64_ENU.exe"
        DetectCondition="(SqlExpressVersion >= &quot;12.0.2000.8&quot;) OR (SqlExpress64Version >= &quot;12.0.2000.8&quot;)"
        InstallCondition="(NOT SqlExpressVersion >= &quot;12.0.2000.8&quot;) AND (NOT SqlExpress64Version >= &quot;12.0.2000.8&quot;)"
        />

      <RollbackBoundary />

      <MsiPackage Id="Installer" SourceFile="file\Installer.msi" Visible="yes" />
    </Chain>
  </Bundle>
</Wix>
