<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <ComponentGroup Id="DbMigration" />

      <CustomAction Id="MigrateScriptEF" Directory="INSTALLDIR" ExeCommand='cmd /c "[INSTALLDIR]\DbMigration.cmd"' Impersonate="yes" Execute="deferred" Return="asyncNoWait" />

    <InstallExecuteSequence>
      <Custom Action="MigrateScriptEF" After="InstallFiles"><![CDATA[NOT Installed OR PATCH]]></Custom>
    </InstallExecuteSequence>

  </Fragment>
</Wix>